    <footer class="footer">
      <div class="p2 wrap">
        <div class="measure mt1 center">
      {{ partial "social_links.html" . }}
          <small>
            Copyright &#169; 2017<br>
            Her Hakkı Uğur KAZDAL'a aittir.
          </small>
        </div>
      </div>
    </footer>

    <!-- Highlight -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Google Analytics -->
    {{ partial "google_analytics.html" . }}

</body>
</html>
